{% extends "layout.html" %}

{% block title %}
Billboard
{% endblock %}

{% block main %}
<!-- flask alerts -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>{{ messages[-1] }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% endwith %}

<div class="alert-container">
    <div class="alert alert-success alert-dismissible fade show" id="alert-one" role="alert">
        Warning<span id="usernameSpan"></span>: Minimal moderation is done so strong and suggestive
        text may be present. You have been warned.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<div class="container">
    <h1 class="header text-center text-head">General</h1>
    <table class="table mb-3 table-bordered table-striped bg-clear" id="tablet">
        <thead>
            <tr>
                <th class="thead col-1 text-head">No</th>
                <th class="thead col-2 text-head">Username</th>
                <th class="thead col-auto text-head">Post</th>
                <!-- <th class="thead col-1 text-head">Likes</th> -->
            </tr>
        </thead>
        {% for row in table %}
        <tbody>
            <tr>
                <td class="col-1"> <p class="text-post">{{ row['id'] }}</p></td>
                <td class="col-2">
                    {% if row['username']=='Anonymous' %}
                    <span class="username-style">Anonymous</span>
                    {% else %}
                    <a class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="{{ url_for('profile', username=row['username']) if row['username'] != 'Anonymous' else '/error'}}">
                        <p class="username-style-link">{{ row['username'] }}</p>
                    </a>
                    {% endif %}
                </td>
                <td class="col-auto text-start">
                    <div class="text-post">
                        {{ row['text'] }} <br> <small><span class="text-post-fade">{{ row['time'] }}</span>
                            <a href="{{ url_for('report', post_id=row['post_id'])}}" class="text-red link-offset-2 link-opacity-85 link-underline-opacity-50 link-opacity-100-hover">Report</a></small>
                        </div>
                </td>
                <!-- likes are not yet implemented -->
                <!-- <td class="col-1 justify-content-center align-items-center">
                    <p class="text-post">0</p>
                </td> -->
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <div class="justify-content-center text-center">
        <h4 class="text-center text-head">Enter Text</h4>
        <form class="text-center" name="form1" method="post" action="/">
            <div class="form-group">
                <div class="row gx-0">
                    <div class="col-12 col-md-3">
                        <input disabled class="form-control inline bg-faint username-style" id="username" name="username">
                    </div>
                    <div class="col-12 col-md-8">
                        <input required autocomplete="off" class="form-control bg-faint text-post" name="text" id="text"
                            placeholder="Text">
                    </div>
                    <div class="col-auto mx-auto col-md-1">
                        <button class="form-control btn btn-primary mt-1 mt-md-0" type="submit">Post</button>
                    </div>
                </div>
            </div>
        </form>
        <a class="my-2 btn btn-primary" href="/login">{{"Log out" if 'user_id' in session else "Log in"}}</a>
    </div>
</div>
<button class="btn btn-top rounded-circle p-3" id="scrollTop">Top</button>
<script>
    // this jquery code is for alert
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").alert('close');
        }, 15000);
    });

    //dynamically using username values
    var usernameval = '{{session["username"] if "username" in session else "Anonymous"}}'
    document.getElementById("username").value = usernameval;
    document.getElementById("username").placeholder = usernameval;
    document.getElementById("usernameSpan").innerText = '{{" " + session["username"] if "username" in session else ""}}';

    // this code is for strollTop
    document.getElementById("scrollTop").onclick = function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
    };
</script>
{% endblock %}