{% extends "layout.html" %}

{% block title %}
IGEC Billboard
{% endblock %}

{% block main %}
      <!-- Alert Container -->
      <div class="alert-container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% if message %}
        <div>
            <small class="text-success">{{ message }}</small>
        </div>
        {% endif %}        
          Warning<span id="usernameSpan" class="text-danger"></span>: no moderation is done so continue on your own risk. strong and suggestive text may be present. You have been warned.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

    <div class="container">
        <h1 class="header text-center">Bulletin board</h1>
        <table class="table mb-3 table-striped table-bordered">
            <div class="row">
                <tr>
                    <!-- Assuming table1 has columns 'id' and 'name' -->
                    <th class="thead col-1">S No</th>
                    <th class="thead col-2">Username</th>
                    <th class="thead col-auto">Text</th>
                    <th class="thead col-2">Time</th>
                </tr>
            </div>
            {% for row in table %}
            <div class="row">
                <tr [class.golden-highlight]="row['username'] === 'admin'">
                    <td class="col-1">{{ row['id'] }}</td>
                    <td class="col-2">{{ row['username'] }}</td>
                    <td class="col-auto text-start">{{ row['text'] }}</td>
                    <td class="col-2 text-muted text-small">{{ row['time'] }}</td>
                </tr>
            </div>
            {% endfor %}
        </table>
        <div class="justify-content-center text-center">
            <h4 class="text-center">Enter Text</h4>
            <form class="text-center" name="form1" method="post" action="/">
                <div class="form-group">
                    <div class="row gx-0">
                        <div class="col-12 col-md-3 col-mb-3">
                                <input disabled class = "text-warning form-control inline" id="username" name="username">
                        </div>
                        <div class="col-12 col-md-9 col-mb-9">
                            <input autocomplete="off" autofocus class="form-control" name="text" id="text" placeholder="Text">
                        </div>
                    </div>
                    <button class="my-2 btn btn-primary" type="submit">submit</button>
                </div>
            </form>
            <a class="my-1 btn btn-primary" href="/login">{{"Log out" if 'user_id' in session else "Log in"}}</a>
            <button class="my-1 btn btn-primary" id="scrollTop">Top</button>
        </div>
    </div>
    <script>
        // Script to close the alert after a certain time (optional)
        $(document).ready(function() {
          window.setTimeout(function() {
            $(".alert").alert('close');
          }, 15000); // 15000 milliseconds = 15 seconds
        });
        var usernameval = '{{session["username"] if "username" in session else "Anonymous"}}'
        document.getElementById("username").value = usernameval;
        document.getElementById("username").placeholder = usernameval;
        document.getElementById("usernameSpan").innerText = '{{" " + session["username"] if "username" in session else ""}}';
        document.getElementById("scrollTop").onclick = function() {
            window.scrollTo({ top: 0, behavior: "smooth"});
        };
        document.getElementById("scrollBottom").onclick = function() {
            window.scrollTo({top: document.body.scrollHeight, behavior: "smooth"});
        };
    </script>
{% endblock %}
